extends layout

block content
  include includes/header.pug

  .hero
    .background__wrapper
      .background
        - var rows = 8;
        - var count = 15;
        - var current = 0;
        - var wrapper = false;
        while rows >= 0
          - var n = 0;
          .main
            div
            while n < count
              .box
                if (gallery && gallery[current])
                  - wrapper = true;
                  img(
                    src="/img/nft/small_" + gallery[current].id,
                    alt="",
                    onerror="this.onerror=null;this.src='/img/examplenft.png';"
                  )
              - current++;
              - n++;
            - current -= count;
            while n < count*2
              .box
                if (gallery && gallery[current])
                  - wrapper = true;
                  img(
                    src="/img/nft/small_" + gallery[current].id,
                    alt="",
                    onerror="this.onerror=null;this.src='/img/examplenft.png';"
                  )
              - current++;
              - n++;
          - rows--;
    if (wrapper)
      .hero-cover
    .hero__content
      h1(data-aos="fade-in", data-aos-duration="800") RatsDAO
      h3(data-aos="fade-in", data-aos-delay="600", data-aos-duration="800") Blue chip CNFTs at your disposal
      div(data-aos="fade-in", data-aos-delay="1200", data-aos-duration="800")
        a.btn.vr(
          href="https://www.jpg.store/collection/ratsdao",
          rel="noopener noreferrer",
          target="_blank"
        ) Join

  .section
    .section__text.welcome__spacer
      .welcome__video
        iframe(
          src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ",
          frameborder="0",
          allow="autoplay; encrypted-media",
          allowfullscreen
        )
      .welcome
        img.icon(src="/img/ratsdao.png")
        h2 Welcome to RatsDAO
        p We made a video to help you get a quick introduction to our community; it covers who we are and what we hope to achieve.
        p.vr Give it a watch — we promise it's short.

    .section__text
      h2 Our Partners
      .cards.vr
        a.card.card__partner(
          href="https://dripdropz.io/",
          rel="noopener noreferrer",
          target="_blank"
        )
          img(src="/img/partners/logo-2.svg")
          h3 DripDropz
        a.card.card__partner(
          href="https://www.theadao.io/",
          rel="noopener noreferrer",
          target="_blank"
        )
          img(src="/img/partners/adao.svg")
          h3 ADAO
        a.card.card__partner(
          href="https://metadams.io/",
          rel="noopener noreferrer",
          target="_blank"
        )
          img(src="/img/partners/68dfa6da48e3229faadb4bb2c875664b.svg")
          h3 MetaDams
        a.card.card__partner(
          href="https://www.cardanoforms.io/",
          rel="noopener noreferrer",
          target="_blank"
        )
          img(src="/img/partners/Anomaly.jpeg")
          h3 CardaForms
